<h2>Details for order number <%= @order.id %></h2>
<div>
<% @order.products.each do |product| %>
  <p><strong> Item: </strong><%= product.name %></p>
  <p><strong> Price Each: </strong><%= number_to_currency(product.price) %></p>
  <br>
<% end %>
</div>
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
<p><strong>Subtotal: </strong><%= number_to_currency(@order.subtotal) %></p>
<p><strong>Tax: </strong><%= number_to_currency(@order.tax) %></p>
<p><strong>Total: </strong><%= number_to_currency(@order.total) %></p>
<div>&nbsp</div>
<a class="btn btn-default" href="/products">Return</a>
<p>Click to return to the main page</p>

