<% @carted_products.each do |carted_product| %>
  <div>
    <strong>Item: </strong><%= carted_product.product.name %>
  </div>
  <div>
    <strong>Price: </strong><%= carted_product.product.price %>
  </div>
  <div>
    <strong>Quantity: </strong><%= carted_product.quantity %>
  </div>
  <div>
    <%= link_to "Remove item from cart", "/carted_products/#{carted_product.id}", method: :delete %>
  </div>
  <div> &nbsp </div>
<% end %>

<%= button_to 'Buy Now', '/orders', method: :post %>