<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <h3><%= @products.sale_message %></h3>
      <h4>Categories:</h4>
        <% @products.categories.each do |category| %>
        <ul>
          <li><%= category.name %></li>
        </ul> 
        <% end %>
      <div class="caption">
        <p>Price <%= number_to_currency (@products.price) %></p>
        <p>Sales Tax  <%= number_to_currency (@products.tax) %></p>
        <p>Total Price <%= number_to_currency (@products.total_price) %></p>
      </div>
        <%= form_tag '/carted_products/', method: :post do %>
        <div>
          <%= label_tag :quantity %>
          <%= text_field_tag :quantity %>
        </div>

        <div>
          <%= hidden_field_tag :product_id, @products.id %>
        </div>
          <%= button_tag 'Add to cart' %>
      <% end %>
      <% @products.images.each do |image_object| %>
        <img src= <%= image_object.image_url %> alt = <%= @products.name %> >
      <% end %>
      
        <p><button type="button" onclick="history.go(-1); return false;" class="btn btn-primary" role="button">Back</button> 
        <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>







<!-- <h1><%= @products.name %></h1> 
<button type = "button" onclick = "history.go(-1); return false;">Go Back</button>
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-lg-6">
      <% @products.images.each do |image_object| %>
        <img src= <%= image_object.image_url %> alt = <%= @products.name %> >
      <% end %>
    </div>
  
    <div class = "row">
    <div class = "col-lg-6">
      <p>Price: <%= @products.price %></p>
      <p>Product Description: <%= @products.description %></p>
      <p>Size: <%= @products.size %></p>
      <p>Color: <%= @products.color %></p>
    </div>
  </div>
</div> -->